@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

body {
  margin: 0px;
  background: linear-gradient(90deg, #f2b74a 0%, #f2c94c 100%);
  font-family: "Heebo", sans-serif;
}

.navbar {
  display: flex;
  background: rgb(255, 223, 134);
  padding: 12px 16px 12px 16px;
  box-shadow: 0px -3px 8px rgba(0, 0, 0, 1);
  justify-content: space-between;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  padding: 8px 24px 8px 24px;
  background-color: rgb(253, 249, 211);
  border: 1px solid #00000012;
  transition: 0.5s;
  color: #292827;
}

.navbar a:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
  background-color: rgb(250, 248, 242);
}

.main-content {
  display: block;
  margin: 0 10% 0 10%;
  padding: 0 64px 0 64px;
  background: rgba(255, 250, 240, 0.747);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.39);
  justify-content: center;
}

.info-row {
  padding: 32px 8px 32px 8px;
  display: flex;
}

.info-row info-text {
  flex-direction: column;
}

.info-row img {
  width: 200px;
  padding-right: 32px;
}

.info-row h1 {
  margin: 6px 0px 6px 0px;
}

.intro-txt {
  font-size: 1.4em;

}

.contact-row {
  width: 100%;
  background: white;
  display: block;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.contact-row p {
  font-size: 1.3em;
  text-align: center;
  margin: 6px;
}

.contact-row data-row {
  flex-direction: column;
}
